# Change port if already in use
PORT = 

# Your MongoDB url here
DB =
# Enter your cloudinary details here
CLOUDINARY_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =
VITE_API_URL=https://jobverse-c2pd.onrender.com
